
{{#if showTitle}}
<h1>About {{title}}</h1>
{{/if}}
<div class="textColumn">
  <h2>left-side!</h2>
</div>

<div class="linksColumn">
  <h2>right-side!</h2>
</div>

    <div class="col">
      <a class="btn btn-info" href="./">Home</a>
    </div>