<div class="row">
    <div class="col pull-right">
        <h1>Congratulations {{title}}</h1>
        
        <h3>The games are comming soon...</h3>
        <div class="pull-right">
            <p>Your first AWS Elastic Beanstalk Node.js application is now running on your own dedicated environment in the AWS Cloud</p>
        </div>
    </div>
    <div class="col kakao-login-div">
    	<a id="kakao-login-btn"></a>
    	<img id="profile_image" src=""></img>
    	<div id="kakaostory-share-button" hidden></div>
    </div>
    <div class="col">
      <a class="btn btn-info" href="./about">Click me</a>
    </div>
</div>




<script type="text/javascript">
    Kakao.init('ad41f1ee7d4c68a534f3ac4f37b26534');
    
    Kakao.Auth.createLoginButton({
      container: '#kakao-login-btn',
      success: function(authObj) {
        //game = new Phaser.Game(800, 600, Phaser.AUTO, 'phaser-game', { preload: preload, create: create });
    
        kakaoLogin();
      },
      fail: function(err) {
        alert(JSON.stringify(err));
      }
    });
    
    
    function kakaoLogin() {
      Kakao.API.request({
          url: '/v1/user/me',
          success: function(res) {
            // alert(JSON.stringify(res));
            
            document.getElementById('profile_image').src = res.properties.thumbnail_image;
            
            // {
            //     "id":718367213,
            //     "properties":
            //     {
            //         "profile_image":"http://k.kakaocdn.net/dn/LImpK/btqjKSEh1sQ/8dDfhhhPJIH2h0tK9XvU51/profile_640x640s.jpg",
            //         "nickname":"Soliman",
            //         "thumbnail_image":"http://k.kakaocdn.net/dn/LImpK/btqjKSEh1sQ/8dDfhhhPJIH2h0tK9XvU51/profile_110x110c.jpg"
            //     }
            //  }
            
            document.getElementById('kakaostory-share-button').style.display = "block";
            playerName = res.properties.nickname;
            
            Kakao.Story.createShareButton({
              container: '#kakaostory-share-button',
              url: 'http://www.soliman.cc',
              text: res.properties.nickname + ' challenge you in Kumdo Game :)'
            });
            
            //startGame();
          },
          fail: function(error) {
            alert(JSON.stringify(error));
            }
        });
    }
</script>